.top {
  width: 100%;
  height: 40px;
  color: #1d1d1f;
  background-color: #000000cc;
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: "Josefin Sans", sans-serif;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  flex: 50vw;
}

.topList {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-left: 3vw;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topListItem:hover {
  color: gray;
}

.topImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

a {
  color: #f5f5f7;
}
a:hover {
  color: #d3d3d3;
}

#GFG {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginGFG {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.2vh;
  font-family: "Josefin Sans", sans-serif;
}
