.main {
}
.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm {
  position: absolute;
  top: 10%;
  font-size: 20px;
}

.headerTitleLg {
  position: absolute;
  top: 12%;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}

hr.new4 {
  position: absolute;
  bottom: 70%;
  width: 100%;
  border: solid 2px #444;
}

.aboutCoupons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 0%;
}

.huy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70%;
  left: -25%;
}

.itzik {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70%;
  left: 25%;
}

.tomer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 120%;
  left: -25%;
}

.emanuel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 120%;
  left: 25%;
}

.headerTitlesWhite {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #ffffff;
}
.headerTitlesBlack {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #16160e;
}

.centerMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
